# Project's Root folder
node_modules/

# JetBrains files
.idea/

# Server folder
server/.env
server/.env.docker
server/node_modules/
server/prisma/migrations/
server/src/db/testConnection.js

# Client folder
client/.env
client/node_modules/

# Docs
docs/
TODO.md

# Prisma
@prisma/client/
